$sprite-plataforma-spacing: 2px;
$sprite-plata-dev-spacing: 15px;
$cor-branca: #fff;
$cor-padrao: darken(#c24e4b, 0);
$cor-auxiliar: lighten(#1e2c35, 0);
$size-font-padrao: 16px;


//Sass cor funções
//adjust-hue();
//complement();
//saturate(); 
//complement();
